body, html {
    font-family: 'helvetica neue', sans-serif;
    top:0;
    left:0;
    margin:0;
    width: 100%;
    height:100vh;
    display:flex;
    align-items:center;
    justify-content: center;
}

.centered {
    max-width: 80%;
}

h1 {

}

.section {
background-color:#f2f2f2;
color:#666666;
width: 20em;
height: 20em;
transition: 0.5s ease-in-out;
display:inline-flex;
align-items:center;
justify-content: center;
}

.section:hover{
color:white;
background-color: #666666;
}
.section h1 {

}
a{
  text-decoration: none;
}