h1 {
  background-color:#B8BEC0;
  border-radius: 100px;
  margin-top: 5.5%;
  margin-bottom:10%;
  margin-left:27%;
  margin-right:27%;
  font-size: 4rem;
  text-align: center;
  color:white;
  font-family: "futura";
  display: block;
  padding:30px;
  z-index: 3;
}
body {
  overflow: hidden;
}
h2 {
  margin-left:30px;
  margin-top: 300px;
  font-size:40px;
  font-family:"futura";
}
img {
  max-height: 25%;
  max-width:25%;
  display: inline-block;
  border: black 3px solid;
  border-radius: 100%;
  margin:35px;
  z-index: 4;
  overflow: hidden;

}
.box-top {
  background-color:black;
  width: 100vw;
  height: 250px; 
  z-index: -3;
  margin: 0;
  position: absolute;
  top:0;
  left:0;
  right:0;
}
.box-bottom {
  background-color:black;
  width: 100%;
  height: 130px; 
  z-index: -3;
  margin: 0;
  position: fixed;
  bottom:0;
  float:bottom;
  left:0;
  overflow: hidden;
}
h3 {
  float:left;
  color:white;
  font-family:"futura";
  font-size:40px;
  padding-left:30px;
}
h4 {
  float:right;
  color:white;
  font-family:"futura";
  font-size:40px;
  padding-right:30px;
}
  
  #alert {
    opacity:0;
    position:absolute;
    display:flex;
    justify-content:center;
    align-items:center;
    left:auto;
    width:100%;
    height:100vh;
    bottom:-100vh;
    transition:0.5s cubic-bezier(0,1.22,.81,1.25);
    cursor:pointer;
  }
  #alert h2 {
    margin-top:10%;
  }
  .aligner {
    width:50%;
    color:black;
    text-align:center;
    border-radius:1em;
    background-color:white;
    border:0.7em solid black;
    padding:20px;
    transition:0.5s ease-in-out;
    font-family: "futura";
  }
  .aligner:hover {
    border:0.2em solid white;
  }
    h5 {
    margin-left:30px;
  margin-top: 300px;
  font-size:100px;
  font-family:"futura";
  text-align: center;
  float: left;
  }
  
  em {
    display:block;
    font-size:2em;
    font-family: "helvetica";
    line-height:0.5em;
    animation: 2s flash linear infinite;
  }
  p {
    font-family: "futura";
    color:black;
    font-size: 60px;
    font-weight: bold;
  }
  .main {
    width:100%;
  }

lottie-player {
  width:550px;
  height:550px;
  align-content: center;
  float:left;
  margin-left: auto;
  margin-right:auto;
  display: block;
  max-width: 80vw;
  
}
  
  }
  @media screen and (max-width:1000px){
    .aligner {
      width:100%;
      height:80vh;
    }
  


