body {
background-color: #CBCBCB;
margin:2%;
}

h1 {
    position: absolute;
    left: 41px;
    top: 5px;
    overflow: visible;
    width: 740px;
    height: 177px;
    text-align: left;
    font-family: 'Geneva';
    font-style: normal;
    font-weight: normal;
    font-size: 120px;
    color: rgba(0,0,0,1);
    z-index: 2;
}

.rect1 {
width: 1432px;
height: 417px;
top:-20px;
position: absolute;
overflow: visible;
transform: matrix(1,0,0,1,-545.0432,34.5893) rotate(-45deg);
transform-origin: center;
background-color: #EBEBEB;
z-index: 1;
}
.rect2 {
  width: 2135px;
height: 36px;
position: absolute;
overflow: visible;
transform: matrix(1,0,0,1,-750.0621,455.4016) rotate(-45deg);
transform-origin: center;
background-color: #B70404;
top:-20px;
}
.filter {
filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
position: absolute;
overflow: visible;
width: 388px;
height: 1250px;
left: 41px;
top: 250px;
background-color: white;
z-index: 4;
}
#ds-container {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
position: absolute;
width: 1100px;
height: 2308px;
left: 450px;
top: 250px;
right: 429px;
background-color: white;
z-index: 3;
position-bottom: 58px;
}


h2 {
  font-family: "Geneva";
  padding-left:15px;
  font-size: 30px
}
p, label {
  font-family:"Muli";
  padding-left: 40px;
  display: inline-flex;
 line-height: .001cm;
  
}
h3{
  font-family: "Geneva";
  padding-left:35px;
  font-size: 50px;
  margin-top: auto;
  padding-top: 20px;
}
input {
  margin-left: 40px;

}
#i1,#i2,#i3,#i4,#i5,#i6,#i7,#i8,#i9 {
  height:450px;
  align-content: center;
  padding-left:80px;
  padding-bottom:80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 270px;
  transition-duration: 0s;
  transition-timing-function: ease;
  float:left;
  
}
#i4,#i5,#i6,#i7,#i8,#i9 {
padding-top:100px;
}


figcaption {
  
  float: left;
  width: 30%;
  text-align: center;
  font-size: smaller;
  text-indent: 0;
  border: thin black solid;
  margin: 0.5em;
  padding: 0.5em;
  margin-top:500px;
  clear:both;

}


#i1:hover {
  transform: scale(1.6);
}
#i2:hover {
  transform: scale(1.6);
}
#i3:hover {
  transform: scale(1.6);
}
#i4:hover {
  transform: scale(1.6);
}
#i5:hover {
  transform: scale(1.6);
}
#i6:hover {
  transform: scale(1.6);
}
#i7:hover {
  transform: scale(1.6);
}
#i8:hover {
  transform: scale(1.6);
}
#i9:hover {
  transform: scale(1.6);
}
#GSRM20_Mikro_Short_Scale_Bass_ {
    position: absolute;
    left: 11px;
    top: 15px;
    overflow: visible;
    width: 307px;
    height: 78px;
    text-align: left;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(0,0,0,1);
    top:600px;
    padding-left: 40px;

  }
  #priceL {
    position: absolute;
    left: 11px;
    top: 102px;
    overflow: visible;
    width: 202px;
    height: 60px;
    text-align: left;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(0,0,0,1);
    top:650px;
        padding-left: 40px;
  }
  
